.mainContainer{
  background-color: white;
  box-shadow: 0 0px 1px gray;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.items{
  display: flex;
  align-items: center;
  justify-content: end;
}

.links {
  color: black;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 200;
  padding: 0 20px;
}

.noUnderline{
  text-decoration: none;
}