.mainContainer{
  background-color: #0C231E;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.items{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links {
  color: #fff;
  cursor: pointer;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  margin: 0 15px;
  text-decoration: none;
}